html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

#logo {
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  height: 80px;
  box-shadow: rgb(0 0 0 / 8%) 0 1px 0;
}

#little-search {
  display: flex;
  justify-content: center;
  padding: 0 8px;
  align-items: center;
  border: 1px solid #dddddd;
  border-radius: 40px;
  height: 48px;
  min-width: 335px;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
}

#little-search:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

#little-search * {
  cursor: pointer;
}

.little-search-button {
  display: block;
  padding: 0 16px;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
  color: #222222;
}

.little-search-button:nth-of-type(3) {
  font-weight: 400;
  color: #717171;
}

.divider {
  flex: 0 0 1px;
  height: 24px;
  background-color: #dddddd;
}

#magnifying-class-wrapper {
  background-color: #ff385c;
  border-radius: 100%;
  flex-basis: 32px;
  flex-shrink: 0;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

#magnifyinig-glass {
  width: 12px;
  fill: white;
}

#do-fastcampus {
  padding: 12px;
  font-size: 14px;
  color: #222222;
  font-weight: 600;
  cursor: pointer;
  border-radius: 22px;
}

#do-fastcampus:hover {
  background-color: #f7f7f7;
}

#header-right-section {
  display: flex;
  align-items: center;
  gap: 8px;
}

#profile-section {
  display: flex;
  padding: 5px 5px 5px 12px;
  border: 1px solid #dddddd;
  border-radius: 21px;
  gap: 12px;
  cursor: pointer;
}

#profile-section:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}
